[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
networkx = "*"
regex = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-mock = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[scripts]
clean = "rm -rf build"
day = "python"
docs = "python -m pydoc -w ./"
docs2 = "python -c \"import shutil; import os;\nos.mkdir('build')\nfor f in os.listdir('.'):\n    if f.endswith('.html'):\n        shutil.move(f, 'build')\""
lint = "flake8 --max-line-length=80 --max-complexity=6 src"
test = "python -m pytest --durations=5 --html=build/tests/unit-test-report.html --self-contained-html --cov=src --cov-report=term-missing --cov-report=html:build/coverage -v --junit-xml build/tests/pytest_results.xml src/test/python"

[requires]
python_version = "3.11"
python_full_version = "3.11.10"